<?php  if(count($this->subCat)>0):?>

  <span>
  <label>sous cat&eacute;gorie : </label>
    <select name="subCategorie" id="subCategorie">
    <?php
       foreach($this->subCat as $cat):
           echo '<option value="'.$cat["idcategories"].'">';
           if($this->lang=="en")
              echo $cat["title_en"];
           else
              echo $cat["title_fr"];
              echo '</option>';
         endforeach;
       ?>
     </select>
    </span>
     <div class="clear">&nbsp;</div>
     
<?php endif;?>