
<h1 id="title_formulaire_content" class="titleTabs modifiable"><?=$this->infoList->title?></h1>
  <div class="content_form modifiable">
  <input type="hidden" name="idListDetail" id="idListDetail" value="<?=$this->idListDetail?>"/>
  <input type="hidden" name="idModelList" id="idModelList" value="<?=$this->idModelList?>"/>
  <h2 class="modifiable" style="float:left;"> <?=$this->translate("Info g&eacute;n&eacute;rale de la liste")?> </h2> 
  
   <div id="divDetailList">
   
   
   
   </div>
   <div class="clear">&nbsp;</div> 
   
   
  <div id="divListUpdate">
  </div>
  <div class="clear">&nbsp;</div> 
  
  <div class="content_form modifiable" id="infoitemDiv" >
  <h2 class="modifiable"> <?=$this->translate("Info des objets de la liste")?> </h2> 
  <div id="divListItem">

  </div>
  
  
  </div>
  
  
  
  <div class="clear">&nbsp;</div> 
</div>
</div>