div.notimoo {
  position:absolute;
  z-index:999;
  cursor:pointer;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  padding:10px;
  border:3px;
  border-style:solid;
  border-color:#B2B2B2;
  background:#333;
  color:#FFF;
}

div.notimoo .title {
  font-weight:bold;
  border-bottom:1px solid;
}

div.notimoo .message {
  margin-top:2px;
}

div.notimoo a { 
  color:#FFF;
}