.textboxlist { font: 11px "Lucida Grande", Verdana; cursor: text; background-color:white; }
.textboxlist-bits { zoom: 1; overflow: hidden; margin: 0; padding: 3px 4px 0; border: 1px solid #999; padding-bottom: 3px; }
.textboxlist-bit { list-style-type: none; float: left; display: block; padding: 0; margin: 0 5px 3px 0; cursor: default; }
.textboxlist-bit-editable { border: 1px solid #fff; }
.textboxlist-bit-editable-input { border: 0; padding: 2px 0; *padding-bottom: 0; height: 14px; font: 11px "Lucida Grande", Verdana; }
.textboxlist-bit-editable-input:focus { outline: 0; }
.textboxlist-bit-box { position: relative; line-height: 18px; padding: 0 5px; -moz-border-radius: 9px; -webkit-border-radius: 9px; border-radius: 9px; border: 1px solid #CAD8F3; background: #000000; cursor: default; color:white;}
.textboxlist-bit-box-deletable { padding-right: 15px; }
.textboxlist-bit-box-deletebutton { position: absolute; right: 4px; top: 4px; display: block; width: 10px; height: 10px; font-size: 1px; background-image: url("/image/icone/cross_10.png");}
.textboxlist-bit-box-hover { background: #242400; border: 1px solid #6D95E0; }
.textboxlist-bit-box-focus { border-color: #598BEC; background: #598BEC; color: #fff; }
.textboxlist-bit-box-focus .textboxlist-bit-box-deletebutton { background-position: bottom; }
.form_tags { margin-bottom: 10px; }
/* Setting widget width example */
.textboxlist { width: 100%; }
/* Preloader for autocomplete */
.textboxlist-loading { background: url('/images/loading.gif') no-repeat 102% center; }
/* Autocomplete results styling */
.form_add_message .textboxlist-autocomplete-result { overflow: hidden; zoom: 1; color:black; }
.form_add_message .textboxlist-autocomplete-result img { float: left; padding: 10px; width : 20px; height : 20px; }
.note { color: #666; font-size: 90%; }
#footer { margin: 50px; text-align: center; }
strong.textboxlist-autocomplete-highlight {background-color:yellow;height:40px; line-height: 40px;}
li.textboxlist-autocomplete-result-focus { background-color: #EDEDED;}
