<div style="width:1000px;height:595px;" class="modifiable">
<img src="<?php echo $this->picture->url?>"  style="margin:auto auto;max-width:995px;max-height:590px;"/>
</div>
<script>
Tootlist.skin.reload();
</script>