<div id="table" style="width : 710px; margin:0 auto;">
  <ul style="text-align:center;padding:5px 5px;font-weight:bold;text-transform:uppercase">
    <li style="width : 150px;float:left;">Titre fr</li>
    <li style="width : 150px;float:left;">Titre en</li>
    <li style="width : 150px;float:left;">Tags</li>
    <li style="width : 150px;float:left;">Cat. m&egrave;re</li>
    <li style="width : 100px;float:left;">Supprimer</li>
    <div class="clear">&nbsp;</div>
  </ul>
  <?php $compteur = 0 ?>
  <?php foreach($this->cat as $k => $c) :
  
  $cate = new Model_DbTable_Categorie();
  
  ?>
  <ul style="text-align:center; padding:5px 5px;background-color:<?php echo $compteur%2==0 ?'#9A9A9A':'#FFFFFF';?>;">
    <li style="width : 150px;float:left;">
        <?php echo $c["title_fr"]; ?>
    </li>
    
    <li style="width : 150px;float:left;">
        <?php echo $c["title_en"]; ?>
    </li>
    
    <li style="width : 150px;float:left;">
        <?php 
          if($c["tags"]!="")
           echo $c["tags"]; 
          else
           echo "&nbsp;";
          ?>
    </li>
  
    <li style="width : 150px;float:left;">
      <?php  
     
      if($c["categorie_idcategories"]!="")
      {
        $inst_category = new Model_DbTable_Categorie();
        $current_category = $inst_category->find($c["categorie_idcategories"])->current();
        echo $current_category->title_fr;
      }
      else
          echo "&nbsp;";
      ?>
    </li>
    <li style="width : 100px;float:left;">
  
     <?php
      if(count($cate->SubCategorie($c["idcategories"]))==0)
      {
      echo '<a onclick="Tootlist.cat.deleteCatBO('.$c["idcategories"].',\''.addslashes($c["title_fr"]).'\')" class="delete" style="cursor: pointer;"><img style="height: 15px; width: 15px; border: medium none;" src="/image/icone/cross_10.png"></a>';
      }
      else
        echo "&nbsp;";
      ?> 
      
           </li>
     
    <div class="clear">&nbsp;</div>
  </ul>
  <?php $compteur ++ ; ?>
  <?php endforeach; ?> 
  <a href="/backend/categorie/create">Ajouter une categorie</a>
</div>