<form action="<?php echo $this->escape($this->element->getAction());?>" method="<?php echo $this->escape($this->element->getMethod()); ?>" name="regeneratePassword" id="form_regen_password" style="margin:0px" class="modifiable">
  <h1 class="modifiable"><span><?php echo $this->translate('Generate your password'); ?></span></h1>
  <div class="content_form">
    <?php foreach($this->element as $element): ?>
      <div class="ligne">
  		  <?php echo $this->formLabel($element->getName(),$this->translate($element->getLabel())) ?>
  		  <?php if($element->getName() == "recaptcha"): ?>
          <?php echo $element->render();?>
        <?php else:?>
          <?php echo $this->{$element->helper}(
                             $element->getName(),
                             $element->getValue(),
                             $element->getAttribs(),
                             (method_exists($element,'getMultiOptions')) ? $element->getMultiOptions() : '') ?>
        <?php endif; ?>                     
        <?php if(count($element->getMessages())>0): ?>
          <div class="error_password red">
            <?php echo $this->formErrors($element->getMessages()) ?>
  		    </div>
  		  <?php endif; ?>  
        <div class="clear">&nbsp;</div>
  		</div>
  	  <?php endforeach; ?>
  	  <div class="ligne">
  	    <p><input type="submit" class="submit modifiable" value="Regenerer"/></p>
  	  </div>
  	    <div class="clear">&nbsp;</div>
  	  	<p class="champsobligatoire">* : <?=$this->translate("Champs obligatoire")?></p>
	  </div>
	  <div class="clear">&nbsp;</div>
</form>
<div class="clear">&nbsp;</div>



