<div class="formulaire_content">
  <div id="resendPassword" >
    <p class="entete_blabla modifiable">
      <span><?=$this->translate("Vous devez renseigner votre email afin de pouvoir reg&eacute;nerer votre mot de passe.
      Un email vous sera alors envoy&eacute; avec votre nouveau mot de passe.")?></span>
    </p>
    <div class="clear">&nbsp;</div>
    <?php if($this->error_password !=""): ?>
      <p class="entete_errors red modifiable"><?php echo $this->error_password?></p>
    <?php endif; ?>
    <div class="clear">&nbsp;</div>
    <div>
      <?php echo $this->form_password; ?>
    </div>
  </div>
</div> 