<div id="table" style="width : 710px; margin:0 auto;">
  <ul style="text-align:center;padding:5px 5px;font-weight:bold;text-transform:uppercase">
    <li style="width : 100px;float:left;">&nbsp;</li>
    <li style="width : 50px;float:left;">Langue</li>
    <li style="width : 300px;float:left;">Langue</li>
    <li style="width : 150px;float:left;">&nbsp;</li>
    <li style="width : 100px;float:left;">&nbsp;</li>
    <div class="clear">&nbsp;</div>
  </ul>
  
   <ul style="text-align:center; padding:5px 5px;background-color:#9A9A9A;">
    <li style="width : 100px;float:left;">&nbsp;</li>
    <li style="width : 50px;float:left;"><a href="/backend/dictonnary/edit?&width=600&height=500&idList=fr_FR.php" class="smoothbox">Francais</a></li>
    <li style="width : 300px;float:left;">fr_FR.php</li>
    <li style="width : 150px;float:left;">&nbsp;</li>
    <li style="width : 100px;float:left;">&nbsp;</li>

    <div class="clear">&nbsp;</div>
  </ul>


   <ul style="text-align:center; padding:5px 5px;background-color:#FFFFFF;">
    <li style="width : 100px;float:left;">&nbsp;</li>
    <li style="width : 50px;float:left;"><a href="/backend/dictonnary/edit?&width=600&height=500&idList=en_US.php" class="smoothbox">Anglais</a></li>
    <li style="width : 300px;float:left;">en_US.php</li>
    <li style="width : 150px;float:left;">&nbsp;</li>
    <li style="width : 100px;float:left;">&nbsp;</li>
    <div class="clear">&nbsp;</div>
  </ul>

</div>