<form method="post" action="">
 <p>
 <label style="width:100px">date d&eacute:but :</label>
 <input type="text" id="date_deb" name="date_deb" style="width:150px"  class="text calendar" value=""/>
 </p>
 
  <p>
 <label style="width:100px">titre :</label>
 <input type="text" class=""  style="width:150px;"  name="titre" value=""/> 
 </p>
 
 <p>
 <label style="width:100px">date fin :</label>
 <input type="text" id="date_fin" class="text calendar"  name="date_fin" style="width:150px;" value=""/> 
 </p>

 <p>
 <label style="width:100px">description :</label>
 <textarea id="desc" class="text_wysiwyg" name="description" style="width:300px;height:150px;"></textarea>
 </p>
 
  <p>
 <label style="width:100px">position :</label>
 <input type="text" class=""  style="width:50px;"  name="position" value=""/> 
 </p>
 
 
 <p>
 <label style="width:100px">lien:</label>
 <input type="text" class=""  style="width:150px;"  name="link" value="http://"/> 
 </p>

 <p>
 <label style="width:100px">email de contact :</label>
 <input type="text" class=""  style="width:150px;"  name="contact" value=""/> 
 </p>

 <p>
 <label style="width:100px">chemin image :</label>
 <input type="text" class=""  style="width:150px;" name="path" value="http://"/> 
 </p>


 <p>
 <label style="width:100px">activit&eacute; la pub ?</label>
 <input type="checkbox" value="1" name="active"/> oui
 </p>

  <p><input type="submit" value="valider"/></p>
</form>